:root {
  font-size: 62.5%;

  --bg-color: #000000; 
  --tx-color: #E1E1E6;
  --tx-p_holder: #7C7C8A;
  --bg-input: #06181C;

  --bt-color: #065E7C;
  --bt-hover: #FFFFFF;

  --fg-scroll: #4a808c85;
  --fg-scroll-hover: #4a808cc7;
  --bg-scroll: #223c4283;
  --table-border: #4a808c;
}

html {
  font-size: 1.6rem;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar:hover {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-scroll);
  border-radius: 100vw;
  margin-block: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--fg-scroll);
  border-radius: 100vw;
  
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--fg-scroll-hover);
}

::-webkit-scrollbar-corner {
  background-color: var(--bg-color);
}

@supports (scrollbar-width: thin) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--fg-scroll) var(--bg-scroll);
    scrollbar-gutter: stable;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body, button, input {
  color: var(--tx-color);
  font-family: 'Roboto';
}

body {
  background: var(--bg-color);
  display: grid;
}

.sr-only {
  display: block;
  opacity: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background-color: aqua;
}

.app {
  width: min(95%, 112rem);
  margin: 0 auto;
}

/* ================ HEADER ================ */
header {
  margin-top: 11.5rem;
  margin-bottom: 8.7rem;
  display: flex;
  align-items: flex-end;
  align-content: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.search {
  display: flex;
  align-content: center;
  align-items: center ;
  gap: .8rem;
}

.search button {
  display: flex;
  align-content: center;
  align-items: center;
  gap: .8rem;
  padding: 1.2rem 3.2rem;

  background-color: var(--bt-color);
  cursor: pointer;

  text-transform: uppercase;
  border-radius: 5px;
  border: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  transition: background .6s, color .3s;
}

.search button:hover {
  background: var(--bt-hover);
  color: var(--bt-color);
}

.search button svg > path {
  transition: fill .5s;
}

.search button:hover  svg > path {
  fill: var(--bt-color);
}

.search input[type="text"] {
  background-color: var(--bg-input);
  border: 0;
  border-radius: 5px;
  height: 5rem;
  width:  clamp(10rem, 45vw, 46rem);
  padding: 1.6rem;

  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.search input[type="text"]::placeholder {
  color: var(--tx-p_holder);
}


/* ================  MAIN  ================ */
main {
  margin-bottom:  10rem;
}

/* ================  TABLE  ================ */
table {
  table-layout: fixed;
  border-collapse: collapse;
  
  table-layout: fixed;
}

thead, tbody {
  display: block; 
}


thead {
  background-color: #092D38;
}

tbody {
  max-height: 40rem;       
  overflow-y: auto;  
  overflow-x: hidden;  
}

tr {
  width: 100%;
}

th {
  padding: 1.6rem 4rem;
}

td {
  padding: 2.4rem 4rem;
}

th, td {
  width: 210px;
  text-align: left;
  overflow: hidden;
}

th:first-child,
td:first-child {
  width: 500px;
  text-align: left;
}

th:last-child,
td:last-child {
  width: 192px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.user-info img {
  height: 5.6rem;
  width: 5.6rem;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border 400ms;
}

.user-info img:hover {
  border: 2px solid var(--tx-color);
}

.user-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2rem;
  gap: 3px;
  line-height: 2.5rem;
}

.user-data span {
  font-weight: 400;
  font-size: 2rem;
}

.remove-btn {
  background: none;
  border: none;
  color: #F75A68;
  font-weight: 700;
  font-size: 2rem;
  line-height: 160%;
  cursor: pointer;
  transition: 300ms;
}

.remove-btn:hover {
  filter: brightness(0.9);
  transform: translate(2px, -2px);
  text-shadow: hsla(0, 15%, 26%, 0.911) -2px 2px 4px;
}

.fav-list tr:nth-child(even) {
  background: rgba(6, 25, 29, 1);
}

.fav-list tr:nth-child(odd) {
  background: rgba(6, 21, 25, 0.5);
}

.fav-list tr:nth-child(n + 2)  {
  border-top: 1px solid var(--table-border);
}

.fav-head, .fav-list td {
  font-weight: 700;
  font-size: 2rem;
  line-height: 160%;
  color: var(--tx-color);
}

.fav-head {
  border-radius: 12px 12px 0 0;
  border: 1px solid var(--table-border);
  border-bottom: 0;
}

.fav-list {
  border-radius: 0 0 12px 12px;
  border: 1px solid var(--table-border);
  border-top: 0;
}

/* ================ EMPTY LIST ================ */

tbody:has(.empty) {
  overflow: hidden;  
}

.empty { 
  display: block;
  width: 100%;
}

.empty td {
  height: 40rem;
  width: 100%;
  text-align: center;

  display: flex;
  justify-content: center;
}

.empty td div {
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: center;
}

.empty td div > img{
  width: 13rem;
  height: 12rem;
}

.empty td span{
  color: #4E5455;
  font-family: 'Roboto Mono';
  font-weight: 700;
  font-size: 4rem;
  line-height: 4rem;
}